@import url('https://fonts.googleapis.com/css2?family=Roboto');


body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #252525;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border-style: solid;
}

.lb-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px
}

.login-page {
    font-size: 28px;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.active {
    color: #BD00FF;
    font-weight: bold;
}

.logo {
    text-align: center;
    width: 40%;
    height: 40%;
}

.btn {
    margin: 35px auto;
    padding: 10px;
    border: 1px solid #BD00FF;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 200px;
    position: relative;
}

.btn-users {
    margin: 2px auto;
    padding: 10px;
    border: 3px solid #BD00FF;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 200px;
    position: relative;
}

.btn-users:focus {
    outline: 0;
    font-weight: 700;
    border-width: 4px;
}

.btn-users:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
    background-color: #BD00FF;
}

.btn-db {
    margin: 2px auto;
    padding: 10px;
    border: 3px solid #BD00FF;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 200px;
    position: relative;
}

.btn-db:focus {
    outline: 0;
    font-weight: 700;
    border-width: 7px;
}

.btn-db:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
    background-color: #BD00FF;
}


.btn:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
    background-color: #BD00FF;
}

.btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 4px;
}

.avatar {
    height: 150px;
    border-radius: 25px;
    margin: 10px;
    border: 1px solid #BD00FF;
}

ul {
    list-style-type: none;
    padding-left: 0;

}

.new-wyr {
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.wyr {
   width: 100%;
   max-width: 590px;
   padding: 10px;
   display: flex;
   margin: 0 auto;
   border: 2px solid #000000;
   border-radius: 3px;
   cursor: pointer;
}

.wyr-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

